body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.input_room {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.input {
  margin: 0 auto;
  margin-top: 10px;
  width: 30%;
  height: 40px;
}
.btn {
  margin: 0 auto;
  margin-top: 10px;
  width: 250px;
  background: rgb(73, 172, 73);
  height: 40px;
}
